body {
  background-color: #ffffff;
  font-family: Roboto, sans-serif;
  color: $primary-text-color;

  font-size: 16px;
  line-height: 1.67;
  letter-spacing: 0.03em;
}

img {
  display: block;
  max-width: 100%;
}